<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/restpassword1.css" />
    <title>rest password</title>
  </head>
  <body>
    <div class="login-wrap">
      <div class="login-html">
        <input
          id="tab-1"
          type="radio"
          name="tab"
          class="sign-in"
          checked
        /><label for="tab-1" class="tab">Rest Password</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
          for="tab-2"
          class="tab"
        ></label>
        <form class="login-form">
          <div class="sign-in-htm">
            <div class="group">
              <label for="Password" class="label">Password</label>
              <input id="Password" type="Password" class="input" />
            </div>
            <div class="group">
              <label for="Confirm" class="label">Confirm Password</label>
              <input
                id="Confirm"
                type="password"
                class="input"
                data-type="password"
              />
            </div>
            <div class="group">
              <input
                type="submit"
                class="button"
                id="reset"
                value="reset password"
              />
            </div>
            <div class="hr"></div>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/resetpassword1.js"></script>
  </body>
</html>
